# SPDX-FileCopyrightText: 2024 The Forkbomb Company
#
# SPDX-License-Identifier: AGPL-3.0-or-later

docs/.vitepress/cache/
/tmp
/pb_data
/pb_data*
.DS_Store
.bin
.env
.env.*
pb.env
/didimo
/credimi
didimo-ui
/fixtures/test_pb_data/auxiliary.db
/pkg/OpenID4VP/stepci/node_modules
dist/
coverage.out
coverage.svg
.generated-go-semantic-release-changelog.md
.semrel/
#/config_templates/**
#!/config_templates/**/
#!/config_templates/**/version.yaml
#!/config_templates/**/standard.yaml
#!/config_templates/**/metadata.yaml
extra
node_modules/
