# SPDX-FileCopyrightText: 2025 Forkbomb BV
#
# SPDX-License-Identifier: AGPL-3.0-or-later
services:
  elasticsearch:
    container_name: temporal-elasticsearch
    environment:
      - cluster.routing.allocation.disk.threshold_enabled=true
      - cluster.routing.allocation.disk.watermark.low=512mb
      - cluster.routing.allocation.disk.watermark.high=256mb
      - cluster.routing.allocation.disk.watermark.flood_stage=128mb
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms256m -Xmx256m
      - xpack.security.enabled=false
    image: elasticsearch:${ELASTICSEARCH_VERSION}
    expose:
      - 9200
    volumes:
      - esdata:/usr/share/elasticsearch/data
  postgresql:
    container_name: temporal-postgresql
    environment:
      POSTGRES_PASSWORD: temporal
      POSTGRES_USER: temporal
    image: postgres:${POSTGRESQL_VERSION}
    expose:
      - 5432
    volumes:
      - /var/lib/postgresql/data
  temporal:
    depends_on:
      - postgresql
      - elasticsearch
    environment:
      - DB=postgres12
      - DB_PORT=5432
      - POSTGRES_USER=temporal
      - POSTGRES_PWD=temporal
      - POSTGRES_SEEDS=postgresql
      - DYNAMIC_CONFIG_FILE_PATH=/etc/temporal/config/dynamicconfig/development-sql.yaml
      - ENABLE_ES=true
      - ES_SEEDS=elasticsearch
      - ES_VERSION=v7
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CLI_ADDRESS=temporal:7233
      - LOG_LEVEL=debug
    image: temporalio/auto-setup:${TEMPORAL_VERSION}
    ports:
      - 7233:7233
    volumes:
      - ./deployment/dynamicconfig:/etc/temporal/config/dynamicconfig
  temporal_ui:
    container_name: temporal-ui
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CORS_ORIGINS=http://localhost:3000
      - TEMPORAL_UI_PORT=8280
    image: temporalio/ui:${TEMPORAL_UI_VERSION}
    ports:
      - 8280:8280
  credimi:
    depends_on:
      - temporal
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - PUBLIC_POCKETBASE_URL=${PUBLIC_POCKETBASE_URL:-https://demo.credimi.io}
    environment:
      - SERVICE_FQDN_CREDIMI
      - SERVICE_FQDN_CREDIMI_8090
      - ADDRESS_GRAFANA=http://grafana:8085
      - ADDRESS_UI=http://localhost:5100
      - ROOT_DIR=/app
      - DATA_DB_PATH=/app/pb_data/data.db
      - MAIL_SENDER=no-reply@credimi.io
      - RUN_STEPCI_PATH=pkg/OpenID4VP/stepci/runStepCI.js
      - SCHEMAS_PATH=schemas
      - MAESTRO_WORKER=${MAESTRO_WORKER:?https://android.credimi.io}
      - TEMPORAL_ADDRESS=temporal:7233
      - PORT=5100
    ports:
      - 8090:8090
    volumes:
      - ./pb_data/:/app/pb_data
      - /var/run/docker.sock:/var/run/docker.sock
volumes:
  esdata:
