# SPDX-FileCopyrightText: 2025 Forkbomb BV
#
# SPDX-License-Identifier: AGPL-3.0-or-later
services:
  credimi:
    build:
      context: .
      dockerfile: Dockerfile.ephemeral
      args:
        - PUBLIC_POCKETBASE_URL=${SERVICE_URL_CREDIMI}
    environment:
      - SERVICE_FQDN_CREDIMI
      - SERVICE_FQDN_CREDIMI_8090
      - ADDRESS_UI=http://localhost:5100
      - ROOT_DIR=/app
      - DATA_DB_PATH=/app/pb_data/data.db
      - SEED_DB_PATH=/seed/pb_data/data.db
      - PINKMASK_ARGS
      - MAIL_SENDER=no-reply@credimi.io
      - MAESTRO_WORKER=${MAESTRO_WORKER:-https://android.credimi.io}
      - TEMPORAL_ADDRESS=localhost:7233
      - PORT=5100
    volumes:
      # - pb_data_tmp:/app/pb_data
      # - seed_db:${CREDIMI_SEED_DB}:ro
      - /var/run/docker.sock:/var/run/docker.sock

# volumes:
  # seed_db:
