# SPDX-FileCopyrightText: 2025 Forkbomb BV
#
# SPDX-License-Identifier: AGPL-3.0-or-later
services:
  credimi:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - PUBLIC_POCKETBASE_URL=${PUBLIC_POCKETBASE_URL:-https://demo.credimi.io}
    environment:
      - SERVICE_FQDN_CREDIMI
      - SERVICE_FQDN_CREDIMI_8090
      - ADDRESS_GRAFANA=http://grafana:8085
      - ADDRESS_UI=http://localhost:5100
      - ROOT_DIR=/app
      - DATA_DB_PATH=/app/pb_data/data.db
      - MAIL_SENDER=no-reply@credimi.io
      - RUN_STEPCI_PATH=pkg/OpenID4VP/stepci/runStepCI.js
      - SCHEMAS_PATH=schemas
      - MAESTRO_WORKER=${MAESTRO_WORKER:?https://android.credimi.io}
      - TEMPORAL_ADDRESS=${TEMPORAL_ADDRESS:?temporal.credimi.io:7233}
      - PORT=5100
    ports:
      - 8090:8090
    volumes:
      - ./pb_data/:/app/pb_data
      - /var/run/docker.sock:/var/run/docker.sock

